<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newpage.hack2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomini"
        android:label="Tangle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lk"></activity>
        <activity android:name=".HelperActivity" />
        <activity
            android:name=".WaysActivity"
            android:label="@string/title_activity_ways"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="k4bJZAAj5L9VFOrlu8HxHw" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="8rp194mqHIFpkwLIeGFdizv74183GtlUXGR8p5Oxe8cYJ64t6dHZd8XNhwzGlZeKDUOBWLBBEWlzxjroJvsYzQ" />
    </application>

</manifest>